<mat-card>
  <!-- <mat-form-field appearance="outline">
    <mat-label>Employee ID</mat-label>
    <input matInput [(ngModel)]="employeeId" />
  </mat-form-field> -->

  <mat-form-field class="employee_name" appearance="outline">
    <mat-label>Employee name</mat-label>
    <input matInput [(ngModel)]="employeeName" />
  </mat-form-field>

  <mat-card-title *ngIf="counter">{{ counter }}</mat-card-title>

  <mat-card-actions>
    <button
      mat-button
      color="primary"
      [disabled]="!employeeName || isRunning"
      (click)="startTimer()"
    >
      In
    </button>
    <button
      mat-button
      color="warn"
      [disabled]="!employeeName || !isRunning"
      (click)="employeeCheckout()"
    >
      Out
    </button>
  </mat-card-actions>
</mat-card>

<app-attendance-list [attendanceList]="attendanceList"> </app-attendance-list>
